body {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 8px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

html {
  background: url(https://picsum.photos/1920/1080) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#timeText {
  font-size: 150px;
  font-weight: bold;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

#complimentText {
  display: inline;
  font-size: 50px;
}

#refreshButton {
  padding-top: 20px;
  font-size: 50px;
}

#refreshButton:hover {
  color: orange;
  cursor: pointer;
}
