* {
  margin: 0px;
}

body {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 8px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

html {
  background: url(https://picsum.photos/1920/1080) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  padding-bottom: 2rem;
}

#timeText {
  font-size: 150px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

#complimentText {
  display: inline;
  font-size: 50px;
  padding-top: 2rem;
}

#refreshButton {
  padding-top: 3rem;
  font-size: 50px;
}

#refreshButton:hover {
  color: orange;
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  
  #timeText {
    font-size: 4rem;
  }

  p {
    font-size: 3rem;
  }

  #complimentText {
    font-size: 3rem;
  }

}